body {
    background-image: url(Web_bg4.png);
    font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
    overflow-x: hidden
}
body {
    background-image: url(Web_bg4.png);
    font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
    font-weight: normal;
}
header{
    border-bottom: 0.3em solid #9D988B;
}
header nav ul {
    display: flex;
    justify-content: flex-end;
}
header nav ul li {
    font-size: 2.4rem;
    list-style: none;
    padding: 2.2rem 1.5rem;
}
header nav ul li a{
    color: #1717AD;
    text-decoration: none;
}
.works h2 {
    position: relative;
    color: #1717AD;
    font-size: 5.2rem;
    font-weight: normal;
    left: 15.6%;
    top: 20.5rem;
}
.poster h3{
    position: relative;
    color: #1717AD;
    font-size: 2.4rem;
    font-weight: normal;
    left: 25%;
    top: 25.5rem;
}
.poster .acd-check{
    display: none;
}
.poster .acd-label{
    position: relative;
    font-size: 2.4rem;
    left: 27%;
    top: 25rem;
    color: #1717AD;
    display: block;
    margin-bottom: 1px;
    padding: 10px;
}
.poster .acd-content{
    position: relative;
    font-size: 2.4rem;
    left: 27%;
    top: 27rem;
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .5s;
    visibility: hidden;
}
.poster .acd-check:checked +.poster .acd-label +.poster .acd-content{
    position: relative;
    display: flex;
    font-size: 2.4rem;
    left: 27%;
    top: 27rem;
    height: 500px;
    opacity: 1;
    padding: 10px;
    visibility: visible;
}

.acd-check{
    display: none;
}
.acd-label{
    position: relative;
    font-size: 2.4rem;
    left: 24.5%;
    top: 27rem;
    color: #1717AD;
    display: block;
    margin-bottom: 1px;
    padding: 10px;
}
.acd-content{
    position: relative;
    font-size: 2.4rem;
    left: 24.5%;
    top: 27rem;
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .5s;
    visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content{
    position: relative;
    font-size: 2.4rem;
    left: 24.5%;
    top: 27rem;
    height: 400px;
    opacity: 1;
    padding: 10px;
    visibility: visible;
}